<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>OAuth2 SSO Demo2</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/css/uikit.gradient.min.css"/>
</head>

<body>

<div class="uk-grid">
    <div class="uk-width-1-5"></div>
    <div class="uk-width-3-5">
        <h1>Demo2</h1>
    </div>
    <div class="uk-width-1-5">
    	<form th:action="@{logout}" method="post">
    		<input type="submit" value="logout"/>
    	</form>
    </div>
</div>
</body>
</html>
